<div>
  <div>
    <form action="#">
      <label for="newCityNameInput">New City</label> <br />
      <input
        type="text"
        id="newCityNameInput"
        [(ngModel)]="newCityName"
        name="newCityNameInput"
      />
      <button (click)="addNewCity()">Add New City</button>
    </form>
  </div>

  <div>
    <label for="cityName">Select a city:</label>
    <select name="cityName" id="cityName">
      <option *ngFor="let city of cityList.reverse()" [value]="city.cityId">
        {{ city.cityName }}
      </option>
    </select>
  </div>
</div>

<!-- <div *ngFor="let city of cityList; let sr = index">
  </div> -->
